@import './colours.scss';
@import './reset.scss';

@mixin button($colour, $textColour, $hoverColour, $textHoverColour){
    border-radius: 0px;
    margin: 0px;
    padding: 15px;
    height: 50px;
    border: 0px;
    background: $colour;
    color: $textColour;
    transition: ease-in-out 0.5s;
    cursor: pointer;

    &:hover{
        background-color: $hoverColour;
        color: $textHoverColour;
    }
}
@mixin border-button($colour, $textColour, $hoverColour, $textHoverColour){
    margin: 0px;
    padding: 15px;
    height: 50px;
    border: 1px solid $colour;
    background: transparent;
    color: $textColour;
    transition: ease-in-out 0.5s;
    cursor: pointer;

    &:hover{
        background-color: transparent;
        border: 1px solid $hoverColour;
        color: $textHoverColour;
    }
}
@mixin avatar ($dimension){
    height: $dimension;
    width: $dimension;
    border-radius: calc($dimension / 2);
    border: 0px;
}

.button{
    @include button(#fff, #000, #ff0000, #fff);
}
.blue-button{
    @include button(#007bff, #fff, #3496ff, #fff);
}
.blue-border-button{
    @include border-button(#007bff, #007bff, #007bff, #007bff);
}
.red-button{
    @include border-button(#fff, #fff, #ff0000, #ff0000);
}
.avatar-xs{
    @include avatar(30px)
}
.avatar-sm{
    @include avatar(50px)
}
.avatar-md{
    @include avatar(80px)
}
.avatar-lg{
    @include avatar(100px)
}
.avatar-xl{
    @include avatar(150px)
}