@import './constants.scss';

#index{
    .welcome-image{
        position: relative;

        img{
            width: 100%;
        }

        h1{
            color: #fff;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 100px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h2{
            color: #fff;
            position: absolute;
            top: 130px;
            left: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
    .gallery{
        background: #fff;
        margin: 20px 0px;

        .col{
            padding: 0px;
        }
        .car{
            position: relative;
            overflow: hidden;
            height: 300px;
            
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 1000%;
                background: #00000041;
                z-index: 2;
            }
            img{
                height: 100%;
                top: 0;
                min-width: 100%;
                position: absolute;
            }
            h4{
                color: #fff;
                top: 15px;
                left: 15px;
                font-weight: 500;
                position: absolute;
                z-index: 3;
            }
            .parent-buttons{
                position: absolute;
                left: 15px;
                bottom: 15px;
                display: flex;
                z-index: 3;

                .button{
                    margin-right: 15px;

                    .fa-arrow-up-right-from-square{
                        margin-right: 5px;
                    }
                }
                .red-button{
                    .fa-chevron-right{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .news{
        display: flex;
        
        .article{
            height: 500px;
            width: 300px;
            margin: 10px;
            border: 1px solid #000;
            box-shadow: 1px 1px 5px 1px #000;

            h5,.info{
                padding: 20px;
                text-overflow: ellipsis;
                display: -webkit-box;
                overflow: hidden;
                width: 100%;
                -webkit-box-orient: vertical;
            }
            h5{
                -webkit-line-clamp: 2;
            }
            .info{
                -webkit-line-clamp: 4;
            }
            .image{
                width: 100%;
                height: 200px;
                overflow: hidden;

                img{
                    min-width: 100%;
                    height: 100%;
                }
            }
            &:hover{
                background: #f4f4f4;
            }
        }
    }
}
